* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css?family=Orelega+One&display=swap");
.navbar {
  display: flex;
  align-items: center;
  background-color: black;
  color: aqua;
  width: 100%;
  position: fixed;
  height: 100px;
  z-index: 100;
}
body {
  overflow-x: hidden;
  
}
.listaNav {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 25px;
}
.linkNav {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  font-family: "Orelega One", sans-serif;
  transition: 0.8;
}
.linkNav:hover {
  color: #00aeef;
  text-decoration: underline;
  transition: 0.8;
}
.logo {
  width: 80px;
  margin-left: 25px;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-color:#008bbf;
  z-index: 1;
  

}
.bannerTitle {
  color: #fffF;
  font-size: 120px;
  font-weight: bold;
  font-family: "Orelega One", sans-serif;
  text-shadow: 5px 4px 2px rgba(150, 150, 150, 0.82); }

.bannerSubTitle {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: "Orelega One", sans-serif;
  text-shadow: 5px 4px 2px rgba(150, 150, 150, 0.82);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdownList {
  list-style: none;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
}
.footer {
  background-color: #000;
  min-height: 100px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.social {
  width: 20px;
  height: 20px;
}
.divSocial {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}

.container {

width: 100vw;
background-color: #008bbf;
height: 100%;
padding-bottom: 50px;

}

.slider {
  display: block;
  height: 250px;
  width: 250px;

  position: relative;

  

  }
  
  .slider li {
      list-style: none;
      position: absolute;
  }
  
  .slider img {
      margin: auto;
      height: 100%;
      width: 100%;
      vertical-align:top;
      
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
  }
  .slider input {
      display: none;
  }
  .slider label {
      background-color: #000;
      bottom: 10px;
      cursor: pointer;
      display: block;
      height: 10px;
      position: absolute;
      width: 10px;
      z-index: 10;
  }
  
  .slider li:nth-child(1) label {
      left: 10px;
  }
  
  .slider li:nth-child(2) label {
      left: 40px;
  }
  
  .slider li:nth-child(3) label {
      left: 70px;
  }
  .slider img {
      opacity: 0;
      visibility: hidden;
  }
  
  .slider li input:checked ~ img {
      opacity: 1;
      visibility: visible;
      z-index: 10;
  }
  .horizontalCard {
display: flex;
flex-direction: row;
-webkit-box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.79); 
box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.79);
background-color: #fff;
border-radius: 50px;
height: 250px;
width: 60vw;
transition: 0.5s;
z-index: 5;
  }

  .horizontalCard:hover { -webkit-box-shadow: 2px 2px 26px 12px rgba(0,0,0,0.79); 
    box-shadow: 2px 2px 26px 12px rgba(0,0,0,0.79);
transition: 0.5s;

  }


  .cardTitle {
    font-family: "Orelega One", sans-serif;
    margin: 20px;
  }

  .cardText {
    font-family: "Orelega One", sans-serif;
display: flex;
align-items: center;
margin-left: 20px;
font-size: 20px;
  }

  .cardContext {
    display: flex;
   width: 100%;

  }
.arrowLink {
  margin-left: 10px;
}

.divider {
height: 10vw;
width: 10vw;
position:relative;
left: 43vw;
-ms-transform: rotate(45deg); /* IE 9 */
transform: rotate(45deg);
background-color:  #008bbf;
z-index: 2;
top: -7vw;
}

.cardList {
  display: flex;
  justify-content: center;
  width: 100%;
 margin-top: -7vw;

}